@**model M3.Models.Customer*@
@model M3.ViewModels.MovieFormViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Save", "Movie"))
{
	<hr />
	<div class="form-group">
		@Html.Label("Required Information", new { @class = "text-warning" })<br />
		@Html.LabelFor(m => m.Movie.Name)<br />
		@Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control", placeholder = "Movie Name" })
		@Html.ValidationMessageFor(m => m.Movie.Name)<br />
		@Html.Label("Movie Information")<br />
		@Html.TextAreaFor(m => m.Movie.Info, new { @class = "form-control", rows = "15", placeholder = "Movie Info" })
		@Html.ValidationMessageFor(m => m.Movie.Info)<br />

		@Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:MMM d, yyyy}", new { @class = "form-control", placeholder = "Release Date" })
		@Html.ValidationMessageFor(m => m.Movie.ReleaseDate)<br />

		@Html.TextBoxFor(m => m.Movie.DateAdded, "{0:MMM d, yyyy}", new { @class = "form-control", placeholder = "Date Added" })
		@Html.ValidationMessageFor(m => m.Movie.DateAdded)<br />

		@Html.TextBoxFor(m => m.Movie.InStock, new { @class = "form-control", placeholder = "# In Stock" })
		@Html.ValidationMessageFor(m => m.Movie.InStock)<br />



		@Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre Type", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Movie.GenreId, "Select a Genre type")
	</div>
	<hr />
  
	
	@Html.HiddenFor(m => m.Movie.Id);
	@Html.AntiForgeryToken();
	<button type="submit" class="btn btn-primary">Save</button>

}



@section scripts {
	@Scripts.Render("~/bundles/jqueryval")
	}


