@model M3.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customer Details</h1>
<div>
    <dl class="row">
        <dt class="col-sm-3">Customer Name:</dt>
        <dd class="col-sm-9">@Model.Name</dd>
        <dt class="col-sm-3 text-truncate">Customer ID:</dt>
        <dd class="col-sm-9">@Model.Id</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">Contact Information</dt>
        <dd class="col-sm-9">
            @Model.street_address<br />
            @Model.city_address , @Model.state_address , @Model.zip_address<br /><br />
            phone: @Model.phone_address &emsp; email: @Model.email_address
        </dd>
    </dl>


    <dl class="row">
        @if (Model.birthdate.HasValue)
        {
            <dt class="col-sm-3">Birthday:</dt>
            <dd class="col-sm-9">
                @Model.birthdate.Value.ToShortDateString()
            </dd>
        }
    </dl>
</div>